<html>
<head>
    <title>Título da página</title>
</head>
<body>
    <h1>Olá, mundo!</h1>
    <p>Este é um exemplo de um corpo básico em HTML.</p>
    <footer>
        todos os direitos reservados &copy; 2020 @DateTime.Now.Year
    </footer>
</body>
</html>